.header-wrapper {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.left-item__header {
    display: flex;
    align-items: center;
}

.left-item__header span {
    size: 12px;
    font-weight: 500;
    line-height: 16.8px;
    color: #8189A2;
    margin-left: 20px
}